@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  height: 100%;
}

.titlehero::after {
  background-image: url(../public/assets/rectangle.svg);
  background-size: 33px 5px;
  display: inline-block;
  width: 33px; 
  height: 5px;
  content:"";
}

@media (max-width: 768px) {
  .titlehero::after {
    background-size: 22px 4px;
    width: 18px; 
    height: 3px; /* ancho para pantallas menores a 640px */
  }
}

@media (max-width: 976px) {
  .titlehero::after {
    background-size: 28px 5px;
    width: 28px; 
    height: 5px; /* ancho para pantallas menores a 640px */
  }
}

.swiper-slide {
  transform-origin: right;
}
.swiper-slide-active+.swiper-slide .member-block, .swiper-slide-next+.swiper-slide .member-block {
  background: #909090;
}

.swiper-slide-active+.swiper-slide+.swiper-slide .member-block, .swiper-slide-next+.swiper-slide+.swiper-slide .member-block {
  background: #656565;
}

.swiper-slide-active~.swiper-slide,  .swiper-slide-next~.swiper-slide {
  visibility: hidden;
}

.swiper-slide-active+.swiper-slide, .swiper-slide-next+.swiper-slide {
  visibility: visible;
}

/* tree css style */

.body-tree{
  background-color: #232323;
  height: 100vh;
}


.main-tree{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 5%;
}

.img-primary{
  width: 270px;
  height: 270px;
}

.red-social{
  display: flex;
  justify-content: center;
  gap: 36px;
}

.go{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #FFFFFF;
  width: 300px;
  height: 46px;
  border-radius: 100px;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.btn-text{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #232323;
}

.container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
@media screen and (min-width:576px){
  .container{
      max-width: 540px;
  }
  .body-tree{
      background-color: #232323;
      height: 100vh;
  }
  
}
@media screen and (min-width:768px){
  .container{
      max-width: 720px;
  }
}
@media screen and (min-width:992px){
  .container{
      max-width: 960px;
  }
}
@media screen and (min-width:1200px){
  .container{
      max-width: 1140px;
  }
}

@media screen and (max-width:1500px) {
  .chat {
    display: none;
  }
}

@media screen and (max-width:320px) {
  .chat {
    display: none;
  }
}

.receiver {
  clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%, 12px 70%);
  min-width: 60px;
  max-width: 700px;
  padding: 12px 12px;
  padding-left: 21px;
  background-color: #C1DCD7;
  color: #4C7B72;
  width: 520px;
  margin-left: 650px;
  border-radius: 16px 16px 16px 0;
  font-family: 'Roboto', sans-serif;
}

.sender {
  clip-path: polygon(12px 0, 100% 0, 100% 100%, 0 100%, 12px 70%);
  min-width: 60px;
  max-width: 700px;
  padding: 12px 12px;
  padding-left: 21px;
  background-color: #C7C7C7;
  color: #444444;
  margin-left: 20px;
  border-radius: 16px 16px 16px 0;
  width: 520px;
  font-family: 'Roboto', sans-serif;
}